<div class="about">
    <h1>About</h1>
    <p>
        Fabiano Caruana was in a bit of a hurry. The top-rated American chess player and No. 2 player in the world wanted to dispose of India’s Vidit Gujrathi as quickly as possible. He had to go to the bathroom.
        Caruana was unable to take a momentary pause from the game, utilize the restroom and then return to action because he had to be in front of his computer at all times as per the anti-cheating rules of the FIDE Chess.com 
        Online Nations Cup, which also included an arbiter and proctor assigned to monitor each player and multiple cameras showing every angle, including screens, at all times.
        During in-person events, participants are able to walk around, use the restroom or compose themselves.
    </p>
</div>

