<mat-toolbar class="toolbar">
  <mat-toolbar-row>
    <img src="../assets/images/logo/letsPlay.jpg" style="width: 250px;" routerLink="">
    <button mat-button class="nav-button" routerLink="/play">Play</button>
    <span class="spacer"></span>
    <button mat-button class="nav-button" routerLink="/login">LogIn</button>
    <button mat-button class="nav-button" routerLink="/signup">SignIn</button>
    <button mat-button class="nav-button">LogOut</button>

  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
